*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us{
    text-align: center;
    height: 90px;
    width: auto;
    margin: auto;
}

.heading{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: green;
    
    
}

.about-boxes{
    display: flex;
    gap: 20px;
}

.about1{
    height: 400px;
    width: 300px;
    border: 2px solid black;

  
}
.about2{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    
}
.about3{
    height: 400px;
    width: 300px;
    border: 2px solid black;
   
}
